/*Global*/
body{
    background-color: black;
    color: rgba(255, 255, 255, 0.897);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
img{
    display: flex;
    height: 300px;
    width: 300px;
}
a{
    text-decoration: none;
}
/*utilitiez*/
.flex-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 0;
    align-items: center;
    height: 50px;
}
.flex-container img{
    height: auto;
    width: auto;
}
.menu{
    margin-left: auto;
}


/*Navigation*/
.link-login{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
}
.link-search{
    color: black;
    margin: 4px;
}
.link-subs{
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
}
.link-menu{
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    font-size: 13px;
    margin: 4px;
}
.link-arrows{
    color: black;
}


/*Header*/
.title{
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 45px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}
.text span{
    text-decoration: underline solid #ffce00;
}
.text{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.border{
    display: flex;
    height: 5px;
    width: 50px;
    background-color: #ffce00;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}
/*Main*/
.main-news img{
    display: flex;
    width: 300px;
    height: 300px;
    border-right: 4px solid #ffce00;
    border-bottom: 4px solid #ffce00;
}
.vertical-border{
    display: flex;
    width: 5px;
    height: 25px;
    background-color: #ffce00;
    margin-left: 10px;
}
.title-picks{
    text-transform: uppercase;
    font-size: 35px;
    font-style: bold;
    letter-spacing: 3px;
    margin-left: 15px;
}
.pick-item{
    display: flex;
    flex-direction: row;   
}
.pick-item img{
    width: 100px;
    height: 100px;
    margin: 15px;
}
.pick-item-text, .see-more{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 5px;
}
.pick-item-text a{
    color: aliceblue;
    text-transform: none;
}
.pick-item-text a:hover{
    text-decoration: underline;
}
.paid{
    display: flex;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 50%;
    height: 20%;
    align-items: center;
    text-align: center;
}
.see-more{
  text-decoration: underline solid #ffce00;
  margin-left: 20px;  
}
