/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    background-color: black;
    color: rgba(255, 255, 255, 0.897);
    margin: 0;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    display: flex;
    height: auto;
    width: auto;
}
a{
    text-decoration: none;
}
/*utilitie*/
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-container img{
    height: auto;
    width: auto;
}
.menu{
    margin-left: auto;
}


/*Navigation*/
nav.navigation{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between ;
    height: 50px;
}
nav .logo{
    display: none;
}
nav .frame{
    height: 30px;
    padding-left: 15px;
}
a.link-login{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
}
a.link-search{
    color: black;
    margin: 4px;
    display: none;
}
a.link-subs{
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
    padding: 15px;
    padding-top: 100%;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
    background: linear-gradient(to left,black 50%,#ffce00 50%)right;
    background-size:200% ;
    transition: 0.5s ease;
}
a.link-subs:hover{
    color: black;
    background-position: left;
}

a.link-menu{
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    font-size: 13px;
    margin: 4px;
    display: none;
}
a.link-arrows{
    color: black;
    margin-right: 20px;
}


/*Header*/
.title{
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 45px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}
.text span{
    text-decoration: underline solid #ffce00;
    background-image: linear-gradient(to top, #ffce00 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.1s ease-in;
}
.text span:hover{
    background-position: bottom;
    color: black;
}
.text{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.border{
    display: flex;
    height: 5px;
    width: 50px;
    background-color: #ffce00;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}
/*Main*/
.main-news img{
    display: flex;
    width: 300px;
    height: 300px;
    border-right: 4px solid #ffce00;
    border-bottom: 4px solid #ffce00;
}
.vertical-border{
    display: flex;
    width: 5px;
    height: 25px;
    background-color: #ffce00;
    margin-left: 10px;
}
.title-picks{
    text-transform: uppercase;
    font-size: 35px;
    font-style: bold;
    letter-spacing: 3px;
    margin-left: 15px;
}
.pick-item{
    display: flex;
    flex-direction: row;   
}
.pick-item img{
    width: 100px;
    height: 100px;
    margin: 15px;
}
.pick-item-text, .see-more{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 5px;
}
.pick-item-text a{
    color: aliceblue;
    text-transform: none;
}
.pick-item-text a:hover{
    text-decoration: underline;
}
.paid-content{
    display: flex;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 5px;
    width: fit-content;
    text-align: center;
}
.see-more{
  display: block;
  text-decoration: underline solid #ffce00;
  margin-left: 20px; 
  text-align: center; 
  font-size: 15px;
}
